<section>
  <div class="container">
    <div class="row">
      <div
        class="col-6 mb-3"
        *ngFor="let customer of customers | async; index as i"
      >
        <div class="card p-3">
          <div class="info">
            <span> name : {{ customer?.name }}</span>
            <small> email :{{ customer?.email }} </small>
          </div>
          <div class="actions">
            <button (click)="removeCusomer(i)">
              <i class="fa trash fa-trash"></i>
            </button>
            <button
              (click)="getCustomerDetails(i)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <i class="fa edit fa-pen"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Customer Details
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="item">
          <small> name : </small>
          <span> {{ customerDetails?.name }} </span>
        </div>
        <div class="item">
          <small> email : </small>
          <span> {{ customerDetails?.email }} </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
